[submodule "Modules/posh-alias"]
	path = Modules/posh-alias
	url = https://github.com/giggio/posh-alias.git

[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git

[submodule "Modules/z"]
	path = Modules/z
	url = https://github.com/vincpa/z.git
  ignore = dirty
[submodule ".\\Modules\\oh-my-posh"]
	path = .\\Modules\\oh-my-posh
	url = https://github.com/JanDeDobbeleer/oh-my-posh.git
